<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../get-transferencias/get-transferencias.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../src/shared-styles.html">

<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

<dom-module id="get-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px 15px;
        background-color: rgb(211, 247, 247);
        color: rgb(36, 54, 77);
        border-radius: 6px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 1.4em;
        margin: 0;
        color: #f52757;
      }
      p {
        font-size: .9em;
        color: #2055a8;
      }
      p span {
        font-weight: bold;
      }

      paper-card {
        display: block;
        background: white;
        box-sizing: border-box;
        margin: 16px;
        padding: 16px;
        border-radius: 2px;
      }
/*
      paper-button {
        margin-left: 10px;
        margin-right: 10px;
        color: mediumblue;
        background-color: aqua;
      }
*/
      .box.small {
        height: 50px;
        width: 110px;
      }

      .sizeBotones {
        font-size: .8em;
      }

      .btnSeleccionado {
        background-color: white;
      }

      paper-button.custom {
        --paper-button-ink-color: var(--paper-pink-a200);
        /* These could also be individually defined for each of the
          specific css classes, but we'll just do it once as an example */
        --paper-button-flat-keyboard-focus: {
          background-color: var(--paper-pink-a200);
          color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      .movimientoSaliente {
        color:red;
      }
      .movimientoEntrante {
        color:green;
      }
      google-map {
        height: 170px;
      }
  }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
            id="getCuentasUsuarioAjax"
            method="get"
            handle-as="json"
            on-response="handleCuentasResponse"
            on-error="handleCuentasError">
<!--            last-response="{{secretQuote}}">  -->
    </iron-ajax>

  <div class="container">
    <paper-card heading=[[cuenta.numero]]>
      <div class="card-content">
        <p> <strong> Numero de Cuenta: [[cuenta.numero]] </strong> </p>
        <p> <strong> Saldo Actual: [[cuenta.saldo]] </strong> </p>
      </div>
      <div class="card-actions" "paper-font-display3">
        <span class="container">
          <paper-button class$="box small {{claseBtnMovimientos}}" raised class="custom indigo" on-click="obtenerMovimientos">

              <p class="sizeBotones">Movimientos</p>
          </paper-button>
        </span>
        <iron-collapse opened="[[desplegadoMovimientos]]">
            <template is="dom-repeat" items="[[cuenta.movimientos]]" restamp>
              <div class="card">

                <template is="dom-if" if="{{esTransferenciaSaliente(cuenta.numero,item.cuentaorigen)}}">
                  <div><iron-icon class="movimientoSaliente" icon="arrow-forward"></iron-icon></div>
                </template>
                <template is="dom-if" if="{{!esTransferenciaSaliente(cuenta.numero,item.cuentaorigen)}}">
                <div><iron-icon class="movimientoEntrante" icon="arrow-back"></iron-icon></div>
                </template>

                <div>
                  <strong>
                    [[_devolverFecha(item.fecha)]]
                  </strong>
                </div>


                <div><strong>Cuenta Origen: {{item.cuentaorigen}}</strong></div>
                <div><strong>Cuenta Destino: {{item.cuentadestino}}</strong></div>
                <div><strong>Monto: {{item.monto}}</strong></div>

                <google-map fit-to-markers api-key="AIzaSyDPL3y6G4gh_lBeQDI2Rq96fSxHTKWL5K8" latitude={{item.latitud}} longitude={{item.longitud}} zoom=15></google-map>


              </div>

            </template>
        </iron-collapse>
        <span class="container">
          <paper-button class$="box small {{claseBtnTransferencia}}" raised class="custom indigo" on-click="entrarTransferencia">
            <p class="sizeBotones">Transferir</p>
          </paper-button>
        </span>
        <iron-collapse opened="[[desplegadoTransferencia]]">
          <p on-click="resaltarDescripcion">
            <get-transferencias cuentaorigen=[[cuenta.numero]]></get-transferencias>
          </p>
        </iron-collapse>
      </div>
    </paper-card>
  </div>

</template>

  <script>
    class GetCuenta extends Polymer.Element {
      static get is() {
        return 'get-cuenta';
      }
      static get properties() {
        return {
          cuenta: Object,
          desplegadoMovimientos: {
            type: Boolean,
            value: false
          },
          desplegadoTransferencia: {
            type: Boolean,
            value: false
          },
          claseBtnMovimientos: {
            type: String,
            value: null
          },
          claseBtnTransferencia: {
            type: String,
            value: null
          },
          valorIcono: {
            type: String,
            computed: 'seleccionoIcono()'
          },
          prueba: {
            type:String,
            value: "prueba"
          },
          movimientos:Object
        };
      }

      initStoredUser() {
          console.log("entro en intiStoredUser");
          if (this.storedUser.loggedin) {
              this.getDatosCuentas();
          }
      }

      getDatosCuentas() {
          // add token authorization and generate Ajax request
          this.$.getCuentasUsuarioAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          console.log("id usuario: " + this.storedUser.id);
          this.$.getCuentasUsuarioAjax.url=`http://localhost:3000/api-uruguay/v1/usuarios/${this.storedUser.id}/cuentas`
          this.$.getCuentasUsuarioAjax.generateRequest();
      }

      handleCuentasResponse(event) {
        var response = event.detail.response;
        console.log("muestro las cuentas:" + response[0].cuentas[0].numero);
        this.cuentas=response[0].cuentas;
        this.movimientos=this.cuentas.movimientos;
        console.log(this.cuentas);
     }
     handleCuentasError(event) {
       //var response = event.detail.response;
       console.log("Error al obtener las cuentas del usuario");
     }

      obtenerMovimientos(){
        console.log("antes:" + this.claseBtnMovimientos);
        this.claseBtnTransferencia=null;
        this.claseBtnMovimientos=((this.claseBtnMovimientos==null) ? 'btnSeleccionado' : null );
        //this.claseBtnMovimientos="btnSeleccionado";
        console.log("despues:" + this.claseBtnMovimientos);
        this.desplegadoTransferencia = false;
        this.desplegadoMovimientos = !this.desplegadoMovimientos;
        console.log("obtener movimientos");
        if (this.claseBtnMovimientos=='btnSeleccionado'){
          this.getDatosCuentas();
          this.notifyPath('cuenta.movimientos');
        };
      }

      entrarTransferencia(){
        this.claseBtnMovimientos=null;
        this.claseBtnTransferencia=((this.claseBtnTransferencia==null) ? 'btnSeleccionado' : null );
        this.desplegadoMovimientos = false;
        this.desplegadoTransferencia = !this.desplegadoTransferencia;
        console.log("Realizar transferencia");
      }

      esTransferenciaSaliente(cuentaActual, cuentaOrigen){
         return (cuentaActual==cuentaOrigen);
      }

      seleccionoIcono(){
/*        console.log("seleccionoIcono");
        //this.valorIcono="home";
        var element = document.getElementById("iconoSentido");
        element.setAttribute("icon","home");
*/
        return "home";
      }
      _devolverFecha(fecha){
        console.log("dato de entrada: " + fecha );
        try{
          var salida=fecha.substr(0,10);
        }
        catch (err){
          var salida="Sin Fecha";
        }
        return salida;
      }
    }


    window.customElements.define(GetCuenta.is, GetCuenta);
  </script>
</dom-module>
