<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="get-transferencias">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      paper-card {
        display: block;
        background: white;
        box-sizing: border-box;
        margin: 16px;
        padding: 16px;
        border-radius: 2px;
      }

      paper-button {
        margin-left: 10px;
        margin-right: 10px;
        color: mediumblue;
        background-color: aqua;
      }

      .box.small {
        height: 50px;
        width: 110px;
        margin: 0;
      }

      paper-button.custom {
        --paper-button-ink-color: var(--paper-pink-a200);
        /* These could also be individually defined for each of the
          specific css classes, but we'll just do it once as an example */
        --paper-button-flat-keyboard-focus: {
          background-color: var(--paper-pink-a200);
          color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      .sizeBotones {
        font-size: .8em;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <iron-ajax
            id="postTransferenciasQuoteAjax"
            method="post"
            handle-as="json"
            content-type="application/json"
            on-response="handleTransferenciasResponse"
            on-error="handleTransferenciasError">
    </iron-ajax>

  <div>

    <paper-input id=inusuariodestino type="email" value="{{formData.usuariodestino}}" required always-float-label label="Usuario destino"></paper-input>
    <paper-input id=incuentadestino type="text" value="{{formData.cuentadestino}}" required always-float-label label="Cuenta destino"></paper-input>
    <paper-input id=inmonto type="text" value="{{formData.monto}}" always-float-label label="Monto"></paper-input>
    <paper-button class="box small" raised class="custom indigo" on-click="postTransferenciasQuote">
      <p class="sizeBotones">Realizar Transferencia</p>
    </paper-button>
  </div>

  <geo-location watch-pos latitude="{{ latitude }}" longitude="{{ longitude }}"></geo-location>

  </template>

  <script>
    class GetTransferencias extends Polymer.Element {
        static get is() { return 'get-transferencias'; }

        static get properties() {
            return {
              formData: {
                  type: Object,
                  value: {}
              },
                storedUser: Object,
                cuentaorigen: Number,
                cuentaSeleccionada: Object,
                latitude:Number,
                longitude: Number
            };

        }

        _setReqBody() {
            this.$.postTransferenciasQuoteAjax.body = this.formData;
            console.log("datos de body:" + JSON.stringify(this.formData));
        }
        //Convierto los parametros a enteros ya que se ingresan como texto.
        _convertToInt(){
          this.formData.cuentadestino=parseInt(this.formData.cuentadestino);
          this.formData.monto=parseInt(this.formData.monto);
          this.formData.latitude=parseFloat(this.latitude);
          this.formData.longitude=parseFloat(this.longitude);
        }

        postTransferenciasQuote() {
            // add token authorization and generate Ajax request
            console.log("latitude:" + this.latitude);
            this.$.postTransferenciasQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
            //this.$.postTransferenciasQuoteAjax.body='{"usuariodestino":"gonzalodelucchi@gmail.com","cuentadestino": 88159,"monto": 8 }'
            this._convertToInt();
            this._setReqBody();
            //console.log("id y cuenta" + this.storedUser.id + this.storedUser.cuentaNumero);
            console.log("id y cuenta" + this.storedUser.id + this.cuentaorigen);
            this.$.postTransferenciasQuoteAjax.url=`http://localhost:3000/api-uruguay/v1/usuarios/${this.storedUser.id}/cuentas/${this.cuentaorigen}/movimientos`
            console.log("muestro la url:" + `http://localhost:3000/api-uruguay/v1/usuarios/${this.storedUser.id}/cuentas/${this.storedUser.cuentaNumero}/movimientos`);
            this.$.postTransferenciasQuoteAjax.generateRequest();
        }

        handleTransferenciasResponse(event) {
          var arrayCuentas = event.detail.response;
          console.log("muestro las cuentas:");
          this.movimientos=arrayCuentas;
          console.log(this.movimientos);
          this.formData=null;
          alert("Transferencia realizada correctamente");
       }
       handleTransferenciasError(event) {
         //var response = event.detail.response;
         console.log("Error al obtener las cuentas del usuairo");
       }

       obtenerTransferencias(event){
         console.log("Se obtienen los movimientos.");
       }
       volver(event){
         this.set('route.path', '/secret-quotes');
       }

    }



    window.customElements.define(GetTransferencias.is, GetTransferencias);
  </script>
</dom-module>
