<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="get-registro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      paper-card {
        display: block;
        background: white;
        box-sizing: border-box;
        margin: 16px;
        padding: 16px;
        border-radius: 2px;
      }

      paper-button {
        margin-left: 10px;
        margin-right: 10px;
        color: mediumblue;
        background-color: aqua;
      }

      .box.small {
        height: 50px;
        width: 110px;
        margin: 0;
      }

      paper-button.custom {
        --paper-button-ink-color: var(--paper-pink-a200);
        /* These could also be individually defined for each of the
          specific css classes, but we'll just do it once as an example */
        --paper-button-flat-keyboard-focus: {
          background-color: var(--paper-pink-a200);
          color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      .sizeBotones {
        font-size: .8em;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <iron-ajax
      id="postAltaUsuarioAjax"
      handle-as="json"
      method="post"
      content-type="application/json"
      on-response="handleAltaUsuarioResponse"
      on-error="handleAltaUsuarioError">
    </iron-ajax>

  <div>

    <paper-input id=inEmail type="email" value="{{formData.email}}" required always-float-label label="Usuario email"></paper-input>
    <paper-input id=inNombre type="text" value="{{formData.nombre}}" required always-float-label label="Nombre"></paper-input>
    <paper-input id=inApellido type="text" value="{{formData.apellido}}" always-float-label label="Apellido"></paper-input>
    <paper-input id=inPassword type="password" value="{{formData.password}}" always-float-label label="Contraseña"></paper-input>
    <paper-button class="box small" raised class="custom indigo" on-click="postAltaUsuario">
      <p class="sizeBotones">Alta de Usuario</p>
    </paper-button>
  </div>

  </template>

  <script>
    class GetRegistro extends Polymer.Element {
        static get is() { return 'get-registro'; }

        static get properties() {
            return {
              formData: {
                  type: Object,
                  value: {}
              },
                storedUser: Object
            };

        }

        _setReqBody() {
            this.$.postAltaUsuarioAjax.body = this.formData;
            console.log("datos de body:" + JSON.stringify(this.formData));
        }
        //Convierto los parametros a enteros ya que se ingresan como texto.
        _convertToInt(){
          this.formData.cuentadestino=parseInt(this.formData.cuentadestino);
          this.formData.monto=parseInt(this.formData.monto);
        }

        postAltaUsuario() {
            this.$.postAltaUsuarioAjax.url = 'http://localhost:3000/api-uruguay/v1/usuarios';
            this._setReqBody();
            this.$.postAltaUsuarioAjax.generateRequest();
        }

        handleAltaUsuarioResponse(event) {
          this.formData=null;
          alert("Usuario dado de alta correctamente");
       }
       handleAltaUsuarioError(event) {
         //var response = event.detail.response;
         alert("Error al dar de alta el usuario");
       }
    }

    window.customElements.define(GetRegistro.is, GetRegistro);
  </script>
</dom-module>
