<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../custom_components/get-cuenta/get-cuenta.html">
<link rel="import" href="shared-styles.html">

<dom-module id="get-dashboard">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <iron-ajax
            id="getCuentasUsuarioAjax"
            method="get"
            handle-as="json"
            on-response="handleCuentasResponse"
            on-error="handleCuentasError">
<!--            last-response="{{secretQuote}}">  -->
    </iron-ajax>

    <div class="card">
      <h1>Cuentas del Usuario</h1>

      <template is="dom-repeat" items="[[cuentas]]">
            <get-cuenta cuenta="[[item]]"></<get-cuenta>
      </template>

      <!-- Oculto datos si no estoy logueado -->
      <div hidden$="[[storedUser.loggedin]]">
        <p>No existen cuentas para este usuario</p>
        <paper-button class="primary" raised on-tap="getDatosCuentas">Acceder</paper-button>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Ud debe <a href="/register-login">autenticarse</a> para acceder a las cuentas</p>
    </div>
  </template>

  <script>
    class GetDashboard extends Polymer.Element {
        static get is() { return 'get-dashboard'; }

        static get properties() {
            return {
                storedUser: Object,
                cuentas: Object
            };
        }

        ready() {
          super.ready();
          console.log('Ejecutándose ready');
        }

        initStoredUser() {
            console.log("entro en intiStoredUser");
            this.cuentas=null;
            if (this.storedUser.loggedin) {
                this.getDatosCuentas();
            }
        }

        getDatosCuentas() {
            // add token authorization and generate Ajax request
            this.$.getCuentasUsuarioAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
            console.log("id usuario: " + this.storedUser.id);
            this.$.getCuentasUsuarioAjax.url=`http://localhost:3000/api-uruguay/v1/usuarios/${this.storedUser.id}/cuentas`
            this.$.getCuentasUsuarioAjax.generateRequest();
        }

        handleCuentasResponse(event) {
          var response = event.detail.response;
          console.log("muestro las cuentas:" + response[0].cuentas[0].numero);
          this.cuentas=response[0].cuentas;
          console.log(this.cuentas);
       }
       handleCuentasError(event) {
         //var response = event.detail.response;
         console.log("Error al obtener las cuentas del usuario");
       }
    }

    window.customElements.define(GetDashboard.is, GetDashboard);
  </script>
</dom-module>
