<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <h1>Practitioner BBVA</h1>
      <h2>Bienvenido a la aplicación realizada para el curso de Practitioner BBVA</h2>
      <blockquote>[[quote]]</blockquote>
      <paper-button raised on-tap="getQuote" class="primary">Login</paper-button>
    </div>
  </template>



  <script>
      class HomeQuotes extends Polymer.Element {
          static get is() { return 'home-quotes'; }

          getQuote() {
              this.set('route.path', '/register-login');
          }
      }

      window.customElements.define(HomeQuotes.is, HomeQuotes);
  </script>
</dom-module>
