<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../custom_components/get-registro/get-registro.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      handle-as="json"
      method="post"
      content-type="application/json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Acceso al sistema</h1>

        <p><strong>Iniciar sesión</strong> o <strong>Registrarse </strong> para acceder a los datos</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="email" value="{{formData.email}}" required placeholder="email">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" required placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button on-tap="postLogin">Iniciar Sesión</paper-button>

          <paper-button on-tap="habilitarRegistro">Registrarse</paper-button>
          <iron-collapse opened="[[desplegadoRegistroUsuario]]">
            <p on-click="resaltarDescripcion">
              <get-registro></get-registro>
            </p>
          </iron-collapse>

        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Ud. está conectado. Puede acceder a <a href="/get-dashboard">cuentas</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>
  
  <script>
      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String,
                  desplegadoRegistroUsuario: {
                    type: Boolean,
                    value: false
                  }
              }
          }

          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
              console.log("datos body register-login:" + JSON.stringify(this.formData));
          }

          postLogin() {
              this.$.registerLoginAjax.url = 'http://localhost:3000/api-uruguay/v1/login'
              console.log("muestro la url: " + this.$.registerLoginAjax.url);
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          habilitarRegistro(){
            this.desplegadoRegistroUsuario = !this.desplegadoRegistroUsuario;
          }

          handleUserResponse(event) {
              var response = event.detail.response;
              //console.log("muestro datos:" + JSON.stringify(event.detail.response.token));
              console.log("muestro el token:" + response.token);

              if (response.token!=null) {
                  this.error = '';
                  this.storedUser = {
                      name: this.formData.email,
                      id: response.id,
                      id_token: response.token,
                      access_token: response.token,
                      loggedin: true,
                      cuentaNumero: 0
                  };

                  // redirect to Secret Quotes
                  console.log("muestro el id register: " + response.id);
                  this.set('route.path', '/get-dashboard');
              }

              // reset form data
              this.formData = {};
          }

          handleUserError(event) {
              console.log("Error en llamada");
              this.error = event.detail.request.xhr.response;
          }
      }

      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
